[submodule "zsh/plugins/pure"]
	path = zsh/plugins/pure
	url = https://github.com/sindresorhus/pure
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
